


@font-face{
    font-family: "Suisse Int'l";
    src: url(/font/SuisseIntl-Medium.woff) format("woff");
}
@font-face {
    font-family: "Suisse Int'l";
    src: url(/font/SuisseIntl-Regular.woff) format("woff");
}