.main-footer {
    bottom: 0;
    width: 100%; /* Le header occupe toute la largeur de l'écran */
    height: 500px; /* Hauteur du header */

     /* Marges intérieures */
    z-index: 960; /* S'assurer qu'il soit au-dessus des autres éléments */
}
.phtxt {
    display: flex; /* Fixe le header en haut de l'écran */
    justify-content:space-between;
    flex-direction: row;

}
.logof {

    height: 200px;
    
}
.colonedroite {
    display: flex;
    flex-direction: column;
    gap: 20px ;
    margin-right: 40px;



}
.parthautf {
    display: flex; 
    flex-direction: row;
    gap: 30px;

}
.iconsf {
    margin-top: 20px;
    gap: 20px;
    display: flex;
    align-items: center;
}
.logo-insta, .logo-x, .logo-ytb{
    height: 40px;
}
.logo-face {
    height: 45px;
    margin-right: -5px;
}
.logo-bord{
    height: 45px;
    margin-right: -5px;
}
.logo-bibl{
    height: 45px;
    margin-right: -5px;
}
.iconsbordf {
    margin-top: 20px;
    
    display: flex;
    gap: 30px;
}
.textinutile {

    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 50px;
    gap: 20px;
    font-size: 12px;

}
.justepourlignef {
    display: flex;
    flex-direction: row;
    gap: 40px;
   
}
.part1f {
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    padding-right: 5%;
}
.lignehoribasf {

    height: 1px; /* Hauteur de la ligne */
    width: 100%; /* Largeur de la ligne */
    background-color: #575757; /* Couleur de la ligne */
    margin: 10px auto; /* Centre horizontalement */
    margin-top: 30px;

}
.lignevertcentref {
    height: 400px; /* Hauteur de la ligne */
    width: 1px; /* Largeur de la ligne */
    background-color: #575757; /* Couleur de la ligne */
    margin: auto auto;
}
.lignevert1f {
    height: 0.5px; /* Hauteur de la ligne */
    width: 70%; /* Largeur de la ligne */
    background-color: #575757; /* Couleur de la ligne */
    margin-left: 160px;
    margin-top: -10px;
}
.lignevert2f {
    height: 0.5px; /* Hauteur de la ligne */
    width: 150px; /* Largeur de la ligne */
    background-color: #575757; /* Couleur de la ligne */
    margin-left: 180px;
    margin-top: -10px;
}

.txt1f , .txt2f  {
    font-size: 16px;
}
@media only screen and (max-width: 750px) {
    .phtxt {
        display: flex;
        flex-direction: column;
    }
    .lignehoribasf {
        display: none;
    }
    .lignevertcentref {
        display: none;
    }
    .logof {
        height: 100%;
        
    }
    .colonedroite {
        margin-left: 100px;
        width: 500px;
        margin-left: 30px;
    }
    .main-footer {
        margin-bottom: 400px;
        

    }
    .textinutile {
        display: none;
    }
}