html {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
}
html::-webkit-scrollbar {
    display: none; /* Chrome, Safari et Edge */
}

body {
    justify-content: center;
    overflow-x: hidden;
    font-family: "Suisse Int'l";
    font-weight: normal;
    background-position: center;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: auto ;

}
*{
    z-index : 10 ;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
    transition: background-color 0.3s, color 0.3s;
  }
@media only screen and (max-width: 750px) {
    *{
        z-index :  auto;
    }
}