html {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
}
html::-webkit-scrollbar {
    display: none; /* Chrome, Safari et Edge */
}

body {
    justify-content: center;
    overflow-x: hidden;
    font-family: "Suisse Int'l";
    font-weight: normal;
    background-position: center;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
*{
    z-index : 10 ;
}
.theme-toggle {
    position: fixed;
    background: #007BFF;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }

.theme-toggle:hover {
    background: #0056b3;
}
body.active {
    background-color: #121212;
    color: #ffffff;
  }

